.about {
  @include section-size;
  height: $height;
  background-image: linear-gradient(
      rgb(255, 255, 255),
      rgba(79, 238, 241, 0.767)
    ),
    url("https://image.freepik.com/free-photo/low-angle-view-skyscrapers_1359-825.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  transform: translateY(-2px);
  text-align: justify;
  color: $darkest-color;
  .content-container {
    @include content-container;
  }
}

@media (min-height: $height) {
  .about {
    height: 100vh;
  }
}

$breakpoint: 768px;
$breakHeight: 1024px;
@media (max-width: $breakpoint) and (min-height: $breakHeight) {
  .about {
    .content-container {
      @include content-container;
      top: 50%;
      h2 {
        font-size: 6vw;
      }
      p,
      .lead {
        margin-top: 2vw;
        font-size: 4vw;
      }
    }
  }
}
