.contact {
  @include section-size;
  background-image: url("../assets/section4.svg");
  .content-container {
    @include content-container;
    color: $primary-color;
    $size: $width/70;
    p {
      margin-top: $size;
      font-size: $size * 1.2;
    }
    .lead {
      color: $third-color;
      text-align: center;
      width: $size * 40;
    }
    .divider {
      display: flex;
      justify-content: space-evenly;
      // width: $size * 45;
      width: $width * 0.7;
      margin: auto;
      transform: translateY(-$size * 1.6);
    }
    .divider-content {
      margin: 0;
      display: grid;
      // grid-template-columns: 1fr 1fr;S
      .form {
        // width: $size * 27;
        width: 95%;
        margin: auto;
        .button {
          margin-top: $size * 1.5;
          @include button-style;
          border: $size * 0.15 $secondary-color solid;
          background: $secondary-color;
          color: white;
          background-position: center;
          border-radius: $size * 0.4;
          width: 100%;
          &:hover {
            background-position: center;
            border: $size * 0.15 $primary-color solid;
            background: $primary-color;
            color: white;
          }
        }
      }
      .form {
        transform: translateY($size * 0.4);
      }
    }
  }
}

$breakpoint: 950px;
@media (min-width: $breakpoint) {
  .contact {
    .divider-content {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media (max-width: $breakpoint) {
  .contact {
    height: fit-content;
    transform: translateY(5%);
    .content-container {
      transform: translate(-50%, 3%);
      .divider {
        display: block;
        margin-top: $size * 2;
        p {
          line-height: $size;
          text-align: center;
          $size: $height/33.8;
          font-size: $size;
        }
      }
      .divider-content {
        grid-template-columns: none;
        .map {
          display: none;
        }
      }
    }
  }
}
