.home {
  @include section-size;
  background-image: url("../assets/section1.svg");
  .navbar {
    box-shadow: none;
    background-color: transparent;
    height: $height * 0.14;
    .logo {
      font-size: $size * 2;
      color: white;
      img {
        width: $size * 3;
        margin-right: $size/2;
      }
      .active {
        color: white;
        text-decoration: none;
      }
    }
    .nav-item {
      font-size: $size * 1.3;
      transform: translateY($size/7);
    }
    .button {
      margin: 0 $size * 3.2 0 $size * 2;
    }
  }
  .divider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .description,
    .image-container {
      height: $height - ($height * 0.14);
    }
    .image-container > .content {
      top: 70%;
      left: 45%;
      width: 90%;
    }
  }
}

$breakpoint: 950px;
@media (min-width: $breakpoint) {
  .home {
    .divider {
      grid-template-columns: 1fr 1fr;
      .content {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: fit-content;
        color: $primary-color;
        h2 {
          font-size: $size * 1.7;
        }
        p {
          text-align: justify;
          margin-top: $size;
          font-size: $size;
        }
        .button {
          @include button-style;
          margin-top: $size * 2;
          color: $secondary-color;
          border: $size * 0.2 $secondary-color solid;
          background: linear-gradient(
            to right,
            white 50%,
            $secondary-color 50%
          );
          background-size: 200% 100%;
          background-position: right bottom;
          color: white;
          &:hover {
            border: $size * 0.2 $primary-color solid;
            color: $primary-color;
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint) {
  .home {
    height: fit-content;
    .divider {
      grid-template-columns: none;
      .image-container {
        display: none;
      }
      .content {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: fit-content;
        color: $primary-color;
        h2 {
          font-size: 4.3vh;
        }
        p {
          text-align: justify;
          margin-top: 1.2vh;
          font-size: 2.2vh;
        }
        .button {
          @include button-style;
          margin-top: 2vh;
          color: $secondary-color;
          border: 0.2vh $secondary-color solid;
          background: linear-gradient(
            to right,
            white 50%,
            $secondary-color 50%
          );
          background-size: 200% 100%;
          background-position: right bottom;
          color: white;
          &:hover {
            border: 0.2vh $primary-color solid;
            color: $primary-color;
          }
        }
      }
    }
  }
}

@media (min-height: $height) {
  .home {
    height: 100vh;
  }
  .divider {
    height: 100%;
    .description {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
    }
  }
}
