.navbar {
  width: 100%;
  min-height: $height * 0.04;
  height: fit-content;
  background-color: white;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(160, 143, 143, 0.2);
  align-items: center;
  padding: 0;
  margin: 0;
  .logo {
    color: $primary-color;
    padding: 0;
    margin: 0;
    font-size: 1.7rem;
    font-weight: 500;
    cursor: pointer;
    transition: 400ms;
    img {
      width: 2rem;
      transform: translateY(-0.2rem);
    }
    .active {
      color: $primary-color;
      text-decoration: none;
    }
  }
  .nav-container {
    color: $primary-color;
    .nav-item {
      font-size: 1.2rem;
      font-weight: 700;
      margin: 0 0.7rem;
      cursor: pointer;
      transition: 250ms;
      display: inline-block;
      .active {
        text-decoration: none;
        color: $secondary-color;
      }
      &:after {
        display: block;
        content: "";
        border-bottom: solid 3px $primary-color;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }
      &:hover {
        color: $primary-color;
        .active {
          color: $primary-color;
        }
        &:after {
          transform: scaleX(1);
        }
      }
    }
    &:hover {
      color: $secondary-color;
    }
  }
  .button {
    margin-right: 1rem;
    color: $secondary-color;
    border: 0.15rem $secondary-color solid;
    border-radius: 0.5rem;
    width: 7rem;
    height: 2.3rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(to right, $primary-color 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 200ms ease-out;
    &:hover {
      background-position: left bottom;
      border: 0.15rem $primary-color solid;
      color: white;
    }
  }
}
.navbar-transition-enter {
  transform: translateY(-4rem);
}
.navbar-transition-enter-active {
  transform: translateY(0rem);
  transition: 300ms;
}
.navbar-transition-exit {
  transform: translateY(0rem);
}
.navbar-transition-exit-active {
  transform: translateY(-4rem);
  transition: 100ms;
}
