.navbar {
  width: 100%;
  min-height: $height * 0.04;
  height: fit-content;
  background-color: white;
  box-shadow: 0 $size * 0.2 $size * 0.2 0 rgba(160, 143, 143, 0.2);
  align-items: center;
  padding: 0;
  margin: 0;
  .logo {
    color: $primary-color;
    padding: 0;
    margin: 0;
    margin-left: $size;
    font-size: $size * 1.6;
    font-weight: 500;
    cursor: pointer;
    transition: 400ms;
    img {
      width: $size * 2;
      transform: translateY(-$size * 0.3);
    }
    .active {
      color: $primary-color;
      text-decoration: none;
    }
  }
  .nav-container {
    color: $primary-color;
    .nav-item {
      font-size: $size;
      font-weight: 700;
      margin: 0 $size * 0.5;
      cursor: pointer;
      transition: 250ms;
      display: inline-block;
      .active {
        text-decoration: none;
        color: $secondary-color;
      }
      &:after {
        display: block;
        content: "";
        border-bottom: solid $size * 0.2 $primary-color;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }
      &:hover {
        color: $primary-color;
        .active {
          color: $primary-color;
        }
        &:after {
          transform: scaleX(1);
        }
      }
    }
    &:hover {
      color: $secondary-color;
    }
  }
  .button {
    @include button-style;
    margin: 0 $size * 2;
  }
}
.navbar-transition-enter {
  transform: translateY(-$height/4);
}
.navbar-transition-enter-active {
  transform: translateY(0);
  transition: 300ms;
}
.navbar-transition-exit {
  transform: translateY(0);
}
.navbar-transition-exit-active {
  transform: translateY(-$height);
  transition: 400ms;
}
