@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;500;600&display=swap");

$primary-color: #48466d;
$secondary-color: #3d84a8;
$third-color: #16aeb1;
$darkest-color: #24223b;
$width: 100vw;
$height: 625px;
// $size: $width/70;
$size: $height/33.8;

@mixin section-size {
  box-sizing: border-box;
  margin: auto;
  width: $width;
  height: $height;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin button-style {
  color: $secondary-color;
  border: $size * 0.2 $secondary-color solid;
  background: linear-gradient(to right, $primary-color 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 200ms ease-out;
  border-radius: $size * 0.5;
  width: $size * 6;
  height: $size * 1.8;
  font-size: $size;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-position: left bottom;
    border: $size * 0.2 $primary-color solid;
    color: white;
  }
}

@mixin content-container {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  h2 {
    font-size: $size * 1.7;
  }
  p,
  .lead {
    margin-top: $size;
    font-size: $size * 1.1;
  }
  .lead {
    color: $primary-color;
    text-align: center;
  }
}
