.enter {
  @include section-size;
  min-height: $height;
  height: 100vh;
  color: $primary-color;
  background: linear-gradient(white, rgba(79, 238, 241, 0.938));
  display: grid;
  grid-template-columns: 1fr 1fr;
  img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $size * 24;
  }
  .form-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $size * 16;
    padding: $size * 0.4 $size * 0.7;
    background-color: #24223b9d;
    border-radius: $size * 0.4;
    h2 {
      text-align: center;
      color: white;
    }
    .form {
      background-color: white;
      transform: translateY($size * 0.4);
      border-radius: $size * 0.4;
      padding: $size * 0.7;
      .button-container {
        display: flex;
        justify-content: space-between;
        padding-top: $size * 0.6;
        .enter-btn {
          @include button-style;
          border: $size * 0.15 $secondary-color solid;
          background: $secondary-color;
          color: white;
          background-position: center;
          border-radius: $size * 0.4;
          width: $size * 5;
          &:hover {
            background-position: center;
            border: $size * 0.15 $primary-color solid;
            background: $primary-color;
            color: white;
          }
        }
        .back-btn {
          @include button-style;
          border: $size * 0.15 $secondary-color solid;
          background: white;
          background-position: center;
          border-radius: $size * 0.4;
          width: $size * 4.5;
          &:hover {
            background-position: center;
            border: $size * 0.15 $primary-color solid;
            color: $primary-color;
          }
        }
      }
      p {
        font-size: $size * 0.8;
        color: $darkest-color;
        span {
          color: $primary-color;
          cursor: pointer;
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }
}

$breakpoint: 950px;
@media (min-width: $breakpoint) {
  .enter {
    .divider {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media (max-width: $breakpoint) {
  .enter {
    height: 100vh;
    grid-template-columns: none;
    .logo {
      display: none;
    }
  }
}
