@import "./variable";
@import "./navbar";
@import "./home";
@import "./about";
@import "./pricing";
@import "./other";
@import "./contact";

body {
  // cursor: none;
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background-color: $third-color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
  }
}
